@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 200px;
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  list-style: none;
  margin-top: 45px;
  margin-left: 200px;
}

.novosty_pic {
  margin-top: 30px;
}

.block_one {
  margin-left: 500px;
  display: flex;
  margin-top: 50px;
  position: absolute;
}

.novosty {
  color: black;
  text-decoration: none;
  margin-right: 50px;
  margin-left: 50px;
}

.logo {
  margin-left: 80px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #69beff;
  position: absolute;
  margin-top: 200px;
  display: flex;
}

.footer_block {
  color: white;
  margin-left: 50px;
  font-size: 20px;
  margin-top: 50px;
  text-decoration: none;
}

.footer_items {
  margin-left: 360px;
  display: flex;
  margin-top: 100px;
}

.footer__items {
  margin-left: 52px;
  margin-top: 30px;
  position: absolute;
  display: flex;
}

.fb {
  text-decoration: none;
  color: white;
}

.fcontacts {
  position: absolute;
  margin-left: 1200px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: 50px;
  display: flex;
}

.footer_store {
  width: 50px;
  margin-left: 400px;
}

.zagolovok {
  margin-left: 720px;
}

.osnov {
  max-width: 800px;
  margin-left: 400px;
  font-size: 20px;
  line-height: 40px;
}

.slider {
  width: 1519px;
  height: 700px;
  position: relative;
}

.tekst {
  width: 1500px;
  height: 700px;
  background: url("../images/krylo.png") no-repeat;
  background-position: 15%;
}

.zagol {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.novosty a {
  color: white;
}

.block {
  display: flex;
  justify-content: space-between;
}

.bil2 {
  display: flex;
  font-weight: bolder;
  margin-right: 150px;
}

.bil1 {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.bil {
  border: 1px solid;
  height: 200px;
  width: 1300px;
  justify-content: center;
  margin: 0 auto;
}

.bil11 {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.aba {
  margin-left: 45px;
}

.vremya {
  margin-right: 65px;
}

.logoa {
  margin-left: 200px;
  margin-top: 20px;
}

.bron {
  height: 40px;
  width: 300px;
  background-color: #69BEFF;
  margin-left: 300px;
  font-size: 30px;
  border-radius: 10px;
  color: white;
  padding-left: 40px;
  margin-top: 40px;
}

.zagol1 {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.novosty {
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.novosty1 {
  width: 400px;
  height: 328px;
  margin-right: 20px;
  background-image: url("../images/samolet.jpg");
  background-size: cover;
  display: flex;
  background-color: none;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  border-color: black;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.novosty2 {
  width: 400px;
  height: 328px;
  margin-right: 20px;
  background-image: url("../images/beach.jpg");
  background-size: cover;
  display: flex;
  background-color: none;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  border-color: black;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.novosty3 {
  width: 400px;
  height: 328px;
  margin-right: 20px;
  background-image: url("../images/terminal.jpeg");
  background-size: cover;
  display: flex;
  background-color: none;
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
  border-color: black;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.boldik {
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

.tekstnk {
  padding-top: 50px;
  font-size: 40px;
  padding-left: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    padding: 0;
    margin: 0;
  }
  header {
    height: 200px;
    display: flex;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 45px;
    margin-left: 10px;
  }
  .novosty_pic {
    margin-top: 30px;
    margin-right: 100px;
  }
  .block_one {
    margin-left: 500px;
    display: flex;
    margin-top: 50px;
    position: absolute;
  }
  .novosty {
    color: black;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 30px;
  }
  .logo {
    margin-left: 0px;
  }
  footer {
    width: 100%;
    height: 300px;
    background-color: #69beff;
    position: absolute;
    margin-top: 200px;
    display: flex;
  }
  .footer_block {
    color: white;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 50px;
    text-decoration: none;
  }
  .footer_items {
    margin-left: 160px;
    display: flex;
    margin-top: 100px;
  }
  .footer__items {
    margin-left: 52px;
    margin-top: 30px;
    position: absolute;
    display: flex;
  }
  .fb {
    text-decoration: none;
    color: white;
  }
  .fcontacts {
    position: absolute;
    margin-left: 700px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    display: flex;
  }
  .footer_store {
    width: 50px;
    margin-left: 200px;
  }
  .zagolovok {
    margin-left: 400px;
  }
  .osnov {
    max-width: 800px;
    margin-left: 140px;
    font-size: 20px;
    line-height: 40px;
  }
  .golub {
    background-color: #E7F8FF;
    border-radius: 30px;
    background-size: inherit;
    padding-left: 20px;
  }
}
@media screen and (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
  }
  header {
    width: 100%;
    height: 200px;
    display: flex;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
    margin-top: 65px;
    margin-left: 0px;
    line-height: 1.8;
  }
  .novosty_pic {
    margin-top: 30px;
  }
  .block_one {
    margin-left: 500px;
    display: flex;
    margin-top: 50px;
    position: absolute;
  }
  .novosty {
    color: black;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
  }
  .logo {
    margin-left: 10px;
  }
  footer {
    width: 100%;
    height: 300px;
    background-color: #69beff;
    position: absolute;
    margin-top: 200px;
    display: flex;
  }
  .footer_block {
    color: white;
    margin-left: 50px;
    font-size: 20px;
    margin-top: 50px;
    text-decoration: none;
  }
  .footer_items {
    margin-left: 10px;
    display: flex;
    margin-top: 100px;
  }
  .footer__items {
    margin-left: 52px;
    margin-top: 30px;
    position: absolute;
    display: flex;
  }
  .fb {
    text-decoration: none;
    color: white;
  }
  .fcontacts {
    position: absolute;
    margin-left: 200px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-top: 50px;
    display: flex;
  }
  .footer_store {
    width: 50px;
    margin-left: 400px;
  }
  .zagolovok {
    margin-left: 170px;
  }
  .osnov {
    max-width: 800px;
    margin-left: 80px;
    font-size: 20px;
    line-height: 40px;
  }
  .golub {
    background-color: #E7F8FF;
    border-radius: 30px;
    background-size: inherit;
    padding-left: 20px;
  }
}/*# sourceMappingURL=mainsass5.css.map */